h1,h2,h3,h4{
    font-weight: 900;
}

h5,h6,a,p{
    font-weight: 300;
}

.center-vertical{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.about-us-section{
    width: 100%;
    padding: calc(5% +30px) 0px;
}

.about-us-section ,img-head{
    position: relative;
}

.about-us-section .img-head img{
    width: 100%;
}